<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body style="color:#fff;font-size:14px;">
        <div style="height:550px;width:800px;">
            <img id="banana" src="https://cdn.glitch.com/9247ae22-a55e-424f-9119-a868791384b6%2Fbanana.gif?v=1609709307333" style="width:350px;display:none;" />
            <div id="messagebox" style="font-size:20px;"></div>
        </div>
  </body>
</html>
